*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#141414;
    color:white;
}

.navbar{
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
    background:#000;
    padding:15px 30px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:#e50914;
    font-size:2rem;
    font-weight:bold;
}

.navbar input{
    width:300px;
    padding:10px;
    border:none;
    border-radius:5px;
}

.banner{
    height:70vh;

    display:flex;
    align-items:center;

    padding:50px;

    background:
    linear-gradient(
        rgba(0,0,0,.2),
        rgba(0,0,0,.9)
    );
}

.banner-content{
    max-width:600px;
}

.banner h1{
    font-size:4rem;
    margin-bottom:20px;
}

.banner p{
    font-size:1.2rem;
    line-height:1.6;
}

main{
    padding:20px;
}

section{
    margin-bottom:40px;
}

section h2{
    margin-bottom:15px;
}

.movies-row{
    display:flex;
    gap:15px;
    overflow-x:auto;
    padding-bottom:10px;
}

.movie-card{
    min-width:220px;
    cursor:pointer;

    transition:.3s;
}

.movie-card:hover{
    transform:scale(1.08);
}

.movie-card img{
    width:100%;
    border-radius:8px;
}

.movie-card h3{
    margin-top:8px;
    font-size:14px;
}

.modal{
    display:none;

    position:fixed;
    inset:0;

    background:rgba(0,0,0,.9);

    justify-content:center;
    align-items:center;
}

.modal-content{
    background:#222;
    width:80%;
    max-width:900px;

    padding:30px;

    border-radius:10px;

    position:relative;
}

.close{
    position:absolute;
    top:10px;
    right:20px;

    font-size:30px;
    cursor:pointer;
}

.detail-wrapper{
    display:flex;
    gap:30px;
}

.detail-wrapper img{
    width:300px;
    border-radius:10px;
}

.info p{
    margin:10px 0;
}

.favorite-btn{
    background:#e50914;
    color:white;
    border:none;

    padding:12px 20px;

    cursor:pointer;

    border-radius:5px;

    margin-top:20px;
}

.favorite-btn:hover{
    background:#ff1f2c;
}

@media(max-width:768px){

    .detail-wrapper{
        flex-direction:column;
    }

    .navbar{
        flex-direction:column;
        gap:10px;
    }

    .navbar input{
        width:100%;
    }

    .banner h1{
        font-size:2.5rem;
    }
}

.login-screen{
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background:
    linear-gradient(
        rgba(0,0,0,.4),
        rgba(0,0,0,.8)
    ),
    url("login-f.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 9999;
}

.login-box{
    width: 400px;

    padding: 40px;

    background: rgba(0,0,0,.75);

    backdrop-filter: blur(12px);

    border-radius: 20px;

    border: 1px solid rgba(229,9,20,.3);

    box-shadow:
    0 0 25px rgba(229,9,20,.4);

    display: flex;
    flex-direction: column;

    gap: 18px;
}

.login-box h1{
    text-align:center;
    color:white;
}

.login-box span{
    color:#e50914;
}

.login-box input{
    padding:15px;

    background:#111;

    border:1px solid #333;

    border-radius:10px;

    color:white;

    outline:none;
}

.login-box input:focus{
    border-color:#e50914;
}

.login-box button{
    padding:15px;

    border:none;

    border-radius:10px;

    background:#e50914;

    color:white;

    font-weight:bold;

    cursor:pointer;
}

.login-box button:hover{
    background:#ff1f2c;
}

.register{
    text-align:center;
}

.register a{
    color:#e50914;
    text-decoration:none;
}

#loginError{
    color:red;
    text-align:center;
}